<div id="user_login">
  <h3>Log-in!</h3>
    <div class="box">
    <form name="input" action='/welcome_back' method="post">
      <input type="text" placeholder="User Name">
      <input type="password" placeholder="Password">
      <input type="submit" value"Submit">
    </form>
</div>
