<div id="new_user">
  <form name="input" action='/register' method="post">
    <h2>Sign Up:</h2>
    <p>Full Name:</p> <input type="text" name="full_name">
    <p>User Name:</p><input type="text" name="user_name">
    <p>Email:</p><input type="text" name="email">
    <p>Password:</p><input type="password" name="password">
    <input type="submit" value"Submit">
  </form>
</div>
