body {
    font-family: 'Source Sans Pro', 'sans-serif';
    color: #D52727;
    background-color: #7CA4F8
}

.container {
  width: 500px;
  margin: auto;
  text-align: center
}

ul{
  list-style: none
}

li{
  list-style: none
}
a {
  color: #432470;
  text-decoration: none
}
header {
  padding-bottom: 5%
}

header a{
  font-size: 1.75em
}
header a:hover{
  font-weight: 600;
}

header a:first-of-type{
  padding-right: 3%;
}

header a:last-of-type{
  padding-left: 3%;
}

/*-----------------------------*/
/*-------  Home Page    -------*/
/*-----------------------------*/
.voting_machine {
  padding: 3%;
  background: #4B8FB6;
  border-radius: 50%;
  float: left;
}
ol li{
  /*background-color: #7CA4F8*/
  /*clear: both;*/
  margin-bottom: 7%;
  overflow: hidden;
}

ol li:hover{
  background-color: #82A8FA;
  border-radius: 1%;
}

.joke_details {
  width: 100%;
  height: 15px;
  margin-top: 8%;
}
.joke_details a{
  font-size: 1.25em;
}

ol li a:hover{
  font-weight: 600
}

form [type~=submit]{
  background-color: #3F76BD;
  width: 49px;
  /* padding-right: 2px; */
  height: 25px;
  border-radius: 50%;
  color: #9222A2;
  border: none;
}
form [type~=submit]:hover{
 background: #5D8DCC;
}



li input {
  background-color: #3F76BD;
  width: 52px;
  border-radius: 15px;
  color: #9222A2;
  border: 0;
}
li input:hover {
  background-color: #6C75DD;
}
/*-----------------------------*/
/*-------  New Joke    --------*/
/*-----------------------------*/

form {
  color: #432470;
}

/*very cool way to find an item*/
form #joke_title{
  background: #CDCAEC;
  border: 2px inset #C9B3F1;
}

.submit_new_joke:hover {
  background-color: #4D7FBE
}
/*-----------------------------*/
/*-------  Show Joke   --------*/
/*-----------------------------*/

.center_voting_machine {
  width: 100%;
  height: 104px;
  margin: 0 auto;
}

.center_voting_machine .voting_machine{
  margin-left: 40%;
}

.joke_title{
  margin: 0;
  padding: 0
}

a.create_reply{
  font-size: 1.7em;
  display: block;
  padding-top: 3%;
}

a.button:hover{
  font-weight: 600
}

.all_replies li{
  color: #432470;
  margin-bottom: 5%;
  font-size: 1.24em;
}
.all_replies li:hover{
  background-color: #82A8FA;
  border-radius: 1%;
}





