<h1>Jokes Overflow Homepage</h1>


<%=link_to "Jokes Home", :jokes%>
<%=link_to "New Joke", :new_joke %>

<ol>
  <% @jokes.each do |joke| %>
    <li><%= link_to joke.title, joke_path(joke) %></li>
  <%end%>
</ol>

