<header>
  <h1>Jokes Overflow</h1>
  <%=link_to "Jokes Home", :jokes%>
  <%=link_to "New Joke", :new_joke %>
</header>
  <ol>
    <% @jokes.each do |joke| %>
      <li>
       <%= render partial: 'votes/voting_machine', locals: { vote: @vote, joke: joke} %>
      <div class="joke_details">
        <%= link_to joke.title, joke_path(joke) %>
      </div>
      </li>
    <%end%>
  </ol>

